{% extends 'store/base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Edit your review</h1>
            <p class="lead fw-normal text-white-50 mb-0">Did you change your mind?</p>
        </div>
    </div>
</header>
    
<br>
    
{% if edit_review_form %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Write a review:
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ edit_review_form.as_p }}
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                    <a href="{% url 'specific-review' review_to_edit.pk %}" class="btn btn-outline-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <div style="text-align: center;">
        <h3>You must be logged in to leave a review</h3>
    </div>
{% endif %}
    
{% endblock %}