{% extends 'store/base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">All reviews</h1>
            <p class="lead fw-normal text-white-50 mb-0">Here is what our customers have to say</p>
        </div>
    </div>
</header>
    
<br>
    
<div class="container">
    <div style="text-align: center;">
        <p><a class="btn btn-outline-dark" href="{% url 'write-review' %}">Leave a review</a></p>
    </div>
    {% if reviews %}
        {% for review in reviews %}
            <div class="card" style="text-align: center;">
                <div class="card-body">
                    <h5 class="card-title">{{ review.poster }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.date_posted }}</h6>
                    <p class="card-text">{{ review.text_content }}</p>
                    <p>Rating: {{ review.star_rating }}</p>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'specific-review' review.pk %}">Click to view</a>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
</div>
    
{% endblock %}