{% extends 'store/base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">This review</h1>
            <p class="lead fw-normal text-white-50 mb-0">Particular review</p>
        </div>
    </div>
</header>
    
<br>
    
<div class="container">
{{ review.poster }} <br>
{{ review.text_content }} <br>
{{ review.star_rating }} <br>
{{ review.date_posted }} <br>
<a href="{% url 'reviews-home' %}">Go back</a>
</div>
    
{% endblock %}