{% extends 'store/base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">This review</h1>
            <p class="lead fw-normal text-white-50 mb-0">Particular review</p>
        </div>
    </div>
</header>
    
<br>
    
<div class="container">
    <div class="card" style="text-align: center;">
        <div class="card-body">
            <h5 class="card-title">{{ review.poster }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.date_posted }}</h6>
            <p class="card-text">{{ review.text_content }}</p>
            <p>Rating: {{ review.star_rating }}</p>
            {% if review.poster == request.user %}
                <a class="btn btn-outline-dark btn-sm" href="{% url 'edit-review' review.pk %}">Edit</a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'delete-review' review.pk %}">Delete</a>
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'reviews-home' %}">Go back</a>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}