.gitignore

.idea/

__pycache__/
cart/__pycache__/
cart/migrations/__pycache__/

cartify/__pycache__/

media/

payment/__pycache__/
payment/migrations/__pycache__/

reviews/__pycache__/
reviews/migrations/__pycache__/

static/css/

store/__pycache__/
store/migrations/__pycache__/
