<!-- Remember to manually add each new category name to navbar dropdown menu with the appropriate urls. -->


{% extends 'store/base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">All Products</h1>
            <p class="lead fw-normal text-white-50 mb-0">Browse for your favorite category</p>
        </div>
    </div>
</header>
<!-- Section -->
<br>
{% for category in categories %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">Add a description about this particular category.</p>
                <a href="{% url 'category' category.name %}">{{ category }}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
