{% extends 'store/base.html' %}

{% block content %}

<div class="container">
    <br>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><small class="text-body-secondary">Uploaded on:</small></p>
                    <p class="card-text"><small class="text-body-secondary">Number in stock:</small></p>
                    <p class="card-text"><small class="text-body-secondary">Last purchased on:</small></p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <p>
                        {% if product.is_on_sale %}
                        <!-- Product price -->
                        <strike>${{ product.price }}</strike>
                        {{ product.sale_price }}
                        {% else %}
                        ${{ product.price }} <br>
                        {% endif %}
                        <!-- Dropdown bar to select quantity -->
                        <div class="col-md-2">Quantity:</div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" aria-label="Default select example" id="quantity-dropdown">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="3">5</option>
                            </select>
                        </div>
                    </p>
                </div>
                <a href="{% url 'home' %}" class="btn btn-primary">Go back</a> <br><br>
                <!-- value : store the product id of the item being added to cart, id: pass to javascript below-->
                <button value="{{ product.id }}" id="cart-add" class="btn btn-secondary">Add to Cart</button>
            </div>
        </div>
    </div>
</div>


<!-- https://stackoverflow.com/questions/65641419/ajax-post-request-with-django-and-python -->
<script>
    // ADD TO CART
    // check if button is pressed
    $(document).on('click', '#cart-add', function(e) {  // id="cart-add"
        e.preventDefault();
        $.ajax({
            type: 'POST',  // POST method for ajax request
            url: "{% url 'add-to-cart' %}",  // URL to which the request is sent, defined in cart/urls.py
            data: {
                product_id: $('#cart-add').val(),  // from id in button above, pass data of value tag (product.id)
                product_quantity: $('#quantity-dropdown option:selected').text(),  // get data of text content from selected value of quantity dropdown from above html
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {
                console.log(json);  // json response form add_to_cart view
                // cart button in navbar with id="cart-quantity"
                document.getElementById('cart-quantity').textContent = json.quantity;  // JSON response from backend view function
                // location.reload();  // optionally reload the page after successful addition to the cart
            },
            error: function(xhr, errmsg, err) {
                console.error("An error occurred: " + errmsg)
            }
        });
    })
</script>
{% endblock %}
